<section class="nav-bp:mb-[16rem] mb-[8rem] font-comfortaa">
  <div>
    <img
      src="/images/Logo-petit-village.jpg"
      alt="Logo-petit-village"
      class="w-96 mx-auto"
    />
  </div>
  <p class="nav-bp:text-lg text-2xl text-center ...">
    <span class="text-secondary"> {{ title }} </span> est une entreprise qui
    confectionne des figurines inspirées de la bande dessinée
    <strong>Astérix et Obélix</strong>. Elle cible une population jeune entre 30
    et 55 ans, nostalgique des aventures des cèlèbres Gaulois.
  </p>
</section>
