<style></style>

<main class="px-8 bg-dark ...">
  <nav class="flex justify-between ...">
    <div class="w-24 ...">
      <a routerLink="/"
        ><img
          src="/images/Logo-petit-village.jpg"
          alt="logo petit village"
          class="max-sm:w-12"
      /></a>
    </div>
    <div
      class="nav-bp:text-xl nav-bp:gap-x-10 inline-flex items-center gap-x-32 pr-8 text-5xl ..."
    >
      <a routerLink="/about" class="text-secondary"> A propos</a>
      <a routerLink="/contact" class="text-primary">Contact</a>
    </div>
  </nav>
</main>

<router-outlet />
<footer class="bg-dark py-[10px]">
  <nav class="flex px-8">
    <a routerLink="/"
      ><img src="/images/return-icon.jpg" alt="return-icon" class="w-10 ..."
    /></a>
    <div class="w-full flex justify-end gap-x-10 ...">
      <a routerLink="/about"
        ><img
          src="/images/about-us-logo.png"
          alt="about-us-logo"
          class="w-10 ..."
      /></a>
      <a
        href="https://github.com/desteur1/angular-petit-village"
        target="_blank"
        ><img
          src="/images/github.jpg"
          alt="logo github"
          class="w-10 rounded-full ..."
        />
      </a>
    </div>
  </nav>
</footer>
