<style></style>

<main class="p-8 ...">
  <nav class="flex justify-between ...">
    <div class="w-24 ...">
      <a routerLink="/"
        ><img src="/images/Logo-petit-village.jpg" alt="logo petit village"
      /></a>
    </div>
    <div class="inline-flex items-center gap-x-32 pr-8 text-3xl ...">
      <a routerLink="/about"> A propos</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </nav>
</main>

<router-outlet />
<footer>
  <nav>
    <a href="https://github.com/desteur1/angular-petit-village"
      ><img src="/images/github.jpg" alt="logo github" class="w-16 ..." />
    </a>
    <a routerLink="/about"
      ><img
        src="/images/about-us-logo.png"
        alt="about-us-logo"
        class="w-16 ..."
    /></a>
    <a routerLink="/"
      ><img src="/images/return-icon.jpg" alt="return-icon" class="w-16 ..."
    /></a>
  </nav>
</footer>
