/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bubbleboddy Neue";
  src: url(/public/fonts/bubbleboddy_neue/BubbleboddyNeue-ExtraBold\ Trial.ttf)
    format("ttf");
  font-weight: bold;
  font-size: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url(/public/fonts/Comfortaa/static/Comfortaa-Regular.ttf) format("ttf");
  font-weight: normal;
  font-size: normal;
}
